@{
    ViewData["Title"] = "About";
}


<section id="home" class="main-contact parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h2>About us</h2>
            </div>

        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h2>About us</h2>
                <p>This project was developed as part of the HE-ARC NET course.</p>
                <p>Developers : Gabriel Griesser, Jeremy Dubois and Julien Feuillade</p>
                <p>Copyright © 2019 HE-ARC </p>
                <p>Design: <a href="https://www.tooplate.com/view/2085-neuron">Tooplate - Neuron</a></p>
                <a href="https://www.he-arc.ch/"><img src="~/images/Logo_HE-ARC.png" alt="HE-ARC"></a>

            </div>

        </div>
    </div>
</section>