@{
    ViewData["Title"] = "Model";
}

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Hello! This is BricABrac</h1>
                    <h4>Responsive utility site for students</h4>
               </div>

          </div>
     </div>
</section>