@model BricABrac.Models.ModuleModel

@{
    ViewData["Title"] = "CreateModule";
}

<h2>CreateModule</h2>

<h4>ModuleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateModule" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolYear" class="control-label"></label>
                <input asp-for="SchoolYear" class="form-control" />
                <span asp-validation-for="SchoolYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Grade">Back to grades</a>
</div>

