@model BricABrac.Models.SubjectModuleViewModel

@{
    ViewData["Title"] = "EditSubject";
}

<h2>EditSubject</h2>

<h4>SubjectModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSubject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Subject.Id" />
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <input asp-for="Subject.Name" class="form-control" />
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Coefficient" class="control-label"></label>
                <input asp-for="Subject.Coefficient" class="form-control" />
                <span asp-validation-for="Subject.Coefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Module name</label>
                <select asp-for="Subject.Module.Id" asp-items="@(new SelectList(Model.ModuleList, "Id", "Name",  Model.ModuleList.Select(x=> x.Id).FirstOrDefault()))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

