@model BricABrac.Models.NotesModels

@{
    ViewData["Title"] = "Notes";
}

<h2>Notes</h2>

<div>
    <table>
        <tr>
            sss
        </tr>
    </table>
    <dl class="dl-horizontal">

    </dl>
</div>
