@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Espace de l'Europe 11<br />
    2000 Neuchâtel, Switzerland<br />
    <abbr title="Phone">P:</abbr>
    032 968 00 00
</address>

<address>
    <strong>Dev 1:</strong> <a href="mailto:jeremy.dubois@he-arc.ch">jeremy.dubois@he-arc.ch</a><br />
    <strong>Dev 2:</strong> <a href="mailto:gabriel.griesser@he-arc.ch">gabriel.griesser@he-arc.ch</a><br />
    <strong>Dev 3:</strong> <a href="mailto:julien.feuillade@he-arc.ch">julien.feuillade@he-arc.ch</a><br />
</address>
