@page
@using Pages
@model TodoModel

<!DOCTYPE html>
<html lang="en">
<head>

<title>TODO file saver</title>

</head>
<body>

</body>
</html>
<h2>Separate page model</h2>
<p>
    @Model.Message
</p>
<section id="text-demo">
    <h2 style="text-align: center;">Saving a simple text</h2>
    <textarea class="input" id="text" placeholder="Insert text here..." style="width: 500px; height: 300px;"></textarea>
    <form id="text-options">
        <label>
            "Filename :"
            <input type="text" class="filename" id="text-filename" placeholder="save here..."></input>
            ".txt"
        </label>
        <input type="submit" value="Save"></input>
    </form>
</section>
<!-- Footer Section -->

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/file-saver.js"></script>


