@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BricABrac.Models.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section id="home" class="main-contact parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h2>Contact us</h2>
            </div>

        </div>
    </div>
</section>

<!-- Contact Section -->

<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h2>Say hello..</h2>
                <address>
                    Espace de l'Europe 11<br />
                    2000 Neuchâtel, Switzerland<br />
                    <abbr title="Phone">P:</abbr>
                    032 968 00 00
                </address>

                <address>
                    <strong>Dev 1:</strong> <a href="mailto:gabriel.griesser@he-arc.ch">gabriel.griesser@he-arc.ch</a><br />
                    <strong>Dev 2:</strong> <a href="mailto:julien.feuillade@he-arc.ch">julien.feuillade@he-arc.ch</a><br />
                    <strong>Dev 3:</strong> <a href="mailto:jeremy.dubois@he-arc.ch">jeremy.dubois@he-arc.ch</a><br />
                </address>


                <form asp-action="Contact" asp-controller="Home" method="post">
                    <div class="col-md-4 col-sm-4">
                        <label asp-for="Name">Please enter your name:</label>
                        <input type="text" asp-for="Name" class="form-control" id="name">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label asp-for="Email">Please enter your email:</label>
                        <input type="text" asp-for="Email" class="form-control" id="email">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label asp-for="Subject">Subjet :</label>
                        <input type="text" asp-for="Subject" class="form-control" id="subjet">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label asp-for="Message">Please enter your message:</label>
                        <textarea type="text" asp-for="Message" class="form-control" id="message"></textarea>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <input name="submit" type="submit" class="form-control" id="submit" value="Send">
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

