@model BricABrac.Models.TodoModel

@{
    ViewData["Title"] = "EditTodo";
}

<h2>EditTodo</h2>

<h4>TodoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTodo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Todo" class="control-label"></label>
                <textarea asp-for="Todo">Enter text here...</textarea>
                <span asp-validation-for="Todo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Todo">Back to todos</a>
</div>

