/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* TODO Page */
#text-demo
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	width: 900px;
	margin: 0 auto;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	padding: 7px 25px 70px;
    background-color: #FFF;
    margin-top: 40px;
}


form
{
    margin-top: 5px;
}

.filename 
{
	text-align: right;
}



.input {
	width: 500px;
	height: 300px;
	margin: 0 auto;
    display: block;
    resize: none;
}

h2
{
    text-align: center;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
